contracts/broadcast/

.env
.env.*

node_modules/
dist/
build/
.cache/

out/
cache/

artifacts/

*.log

.DS_Store
Thumbs.db
frontend/.next/
frontend/src/tests
backend/tests
backend/venv/
contracts/.vscode/
